<wx-drawer-layout>

  <mat-nav-list class="mb-3">
    <h3 mat-subheader>Switch to</h3>
    <mat-list-item>
      <a matLine routerLink="/blog">
        <div class="d-flex align-items-center">
          <mat-icon class="mr-2">layers</mat-icon>
          Blog
        </div>
      </a>
    </mat-list-item>
    <mat-list-item>
      <a matLine routerLink="/store">
        <div class="d-flex align-items-center">
          <mat-icon class="mr-2">shopping_cart</mat-icon>
          Store
        </div>
      </a>
    </mat-list-item>
    <mat-list-item>
      <a matLine routerLink="/reporting">
        <div class="d-flex align-items-center">
          <mat-icon class="mr-2">bar_chart</mat-icon>
          Reports
        </div>
      </a>
    </mat-list-item>
  </mat-nav-list>

</wx-drawer-layout>