<div class="h-100 d-flex flex-column justify-content-start p-2">

  <div class="mat-title" style="padding: 0 16px;">
    Blog
  </div>

  <mat-divider></mat-divider>

  <mat-nav-list class="mb-3">
    <mat-list-item>
      <a matLine routerLink="/dashboard">
        Dashboard
      </a>
    </mat-list-item>
  </mat-nav-list>

  <!-- <mat-divider></mat-divider> -->

  <mat-nav-list class="mb-3">
    <h3 mat-subheader>General</h3>
    <mat-list-item>
      <a matLine routerLink="/posts">
        manage posts
      </a>
    </mat-list-item>
    <mat-list-item>
      <a matLine routerLink="/assets">
        assets and media
      </a>
    </mat-list-item>
    <mat-list-item>
      <a matLine routerLink="/assets">
        user and group access
      </a>
    </mat-list-item>
  </mat-nav-list>

  <!-- <mat-divider></mat-divider> -->

  <mat-nav-list>
    <h3 mat-subheader>Settings</h3>
    <mat-list-item>
      <a matLine routerLink="/assets">
        SEO
      </a>
    </mat-list-item>
  </mat-nav-list>
</div>

