/** Colors */
$body-background-color: #f9f9fc;

$sub-heading-color: rgba(0, 0, 0, 0.54);


/** Menu */
$menu-label-color: $sub-heading-color;
$menu-label-text-transform: 'uppercase';
$menu-item-text-transform: 'capitalize';

/** List */