<mat-drawer-container hasBackdrop="true">
  <mat-drawer #drawer mode="over">
    <ng-container [ngSwitch]="drawerKey">
      <ng-container *ngSwitchCase="'applications'">
        <wx-app-nav></wx-app-nav>
      </ng-container>
      <ng-container *ngSwitchCase="'settings'">
        <wx-settings></wx-settings>
      </ng-container>
      <ng-container *ngSwitchCase="'search'">
        <wx-search></wx-search>
      </ng-container>
    </ng-container>
    <!-- <ng-template [cdkPortalOutlet]="sidePortal"></ng-template> -->
  </mat-drawer>
  <mat-drawer-content>

    <div class="d-flex">
      <div>
        <workspace-nav (itemSelected)="onNavItemSelected($event)"></workspace-nav>
      </div>
      <div class="w-100">
        <ng-content></ng-content>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>