<workspace-container>
  <layout-container>
    <layout side="left" opened="true"
      defaultWidth="200"
      minWidth="18"
      maxWidth="300">
      <router-outlet name="navigation"></router-outlet>
      <todo-side-nav></todo-side-nav>
      <side-minimizer-button fixedTopGap="30"></side-minimizer-button>
    </layout>
    
    <layout side="right" opened="true">
      RIGHT
    </layout>
  
    <!-- <layout header>
      <todo-header></todo-header>
    </layout>  
  
    <layout footer>
      Footer
    </layout> -->
  
    <layout content>
      <!-- <mat-selection-list #shoes>
        <mat-list-option *ngFor="let shoe of typesOfShoes">
          {{shoe}}
        </mat-list-option>
      </mat-selection-list>
      
      <p>
        Options selected: {{shoes.selectedOptions.selected.length}}
      </p> -->
      <router-outlet name="content"></router-outlet>
    </layout>
  
  </layout-container>
</workspace-container>
